{% macro boardlist(list, root, boards) %}
    {% import _self as macros %}
    {% for key, board in list %}
        {% if board is iterable %}
            <span class="sub" data-description="{{ key }}">[{{ macros.boardlist(board, root, boards) }}]</span>
        {% else %}
            {% if key matches '/^\\d+$/' and loop.index0 == key %}
                <a href="{{ root }}{{ board }}/{{ config.file_index }}"{% if boards[board] %} title="{{ boards[board] }}"{% endif %}>{{ board }}</a>
            {% else %}
                <a href="{{ board }}">{{ key }}</a>
            {% endif %}
            {% if not loop.last %}/{% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<div class="boardlist{% if bottom %} bottom{% endif %}">
    {% if config.boardlist_wrap_bracket %}[{% endif %}
    {{ macros.boardlist(config.boards, mod ? '?/' : config.root, boardlist) }}
    {% if config.boardlist_wrap_bracket %}]{% endif %}
</div>
{% if not bottom %}<script>if (typeof do_boardlist != 'undefined') do_boardlist();</script>{% endif %}